<p id="notice"><%= notice %></p>

<h1>Roleusers</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @roleusers.each do |roleuser| %>
      <tr>
        <td><%= link_to 'Show', roleuser %></td>
        <td><%= link_to 'Edit', edit_roleuser_path(roleuser) %></td>
        <td><%= link_to 'Destroy', roleuser, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Roleuser', new_roleuser_path %>
